@import '~bootstrap/scss/bootstrap';

@media screen and (min-width: 1445px) {
    .nav-pad {
        padding: 1rem 15rem;
    }
}

.hover-effect:hover {
    background: radial-gradient(395.96% 124.68% at 14.79% 14.76%, #00B88D 0%, #01B6CC 100%);
    color: white;
}