body {
    font-family: 'Satoshi', sans-serif !important;

}

@import '~bootstrap/scss/bootstrap';

@media screen and (min-width: 1445px) {
    .nav-pad {
        padding: 1rem 15rem;
    }
}

.hover-effect:hover {
    background: radial-gradient(395.96% 124.68% at 14.79% 14.76%, #00B88D 0%, #01B6CC 100%);
    color: white;
}

.activeCard {
    background: radial-gradient(395.96% 124.68% at 14.79% 14.76%, #00B88D 0%, #01B6CC 100%);
    color: white;
}

.footer-background {
    background: radial-gradient(86.72% 86.72% at 50% 28.12%, rgba(170, 170, 170, 0.10) 0%, rgba(227, 227, 227, 0.00) 100%), rgba(113, 113, 113, 0.15);
    padding-top: 125px;
}

@media (min-width:1030px) {
    .footer-card {
        width: 75% !important;
    }
}

.footerUlHead {
    color: #323232;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;

}

// uppercase to lowercase
.dotted-border {
    border-style: dotted;
    border-width: 2px;
    padding: 10px;
    resize: vertical;
    width: 100%;
    min-height: 100px;
}

.pdf-background {
    background-image: url("../src/Assets/Images/pdf-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px dashed #BABABA;
    border-radius: 12px;
    border-width: 3px;
    // gap: 8px;
    padding: 40px, 0px !important;
}