body {
    font-family: 'Satoshi', sans-serif !important;
}

@import '~bootstrap/scss/bootstrap';

@media screen and (min-width: 1445px) {
    .nav-pad {
        padding: 1rem 15rem;
    }
}

.hover-effect:hover {
    background: radial-gradient(395.96% 124.68% at 14.79% 14.76%, #00B88D 0%, #01B6CC 100%);
    color: white;
}

.footer-background {
    background: radial-gradient(86.72% 86.72% at 50% 28.12%, rgba(170, 170, 170, 0.10) 0%, rgba(227, 227, 227, 0.00) 100%), rgba(113, 113, 113, 0.15);
    margin-top: 150px;
    padding-top: 125px;
}

@media (min-width:1030px) {
    .footer-card {
        width: 75% !important;
    }
}

.footerUlHead {
    color: #323232;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;

}