.TopAllEasyTools {
    font-size: 18px;
    color: red;
    margin-top: 100px;
}

.bannarImage {
    background-image: url("../Assets/Images/Skype_Picture_2024_01_04T10_58_28_657Z.jpeg");
    padding-bottom: 200px;
}