.personStyle {
    background-image: url("../Assets/Login/person.png");
    background-position: 10px center; // Adjust the positioning as needed
    background-repeat: no-repeat;
    padding-left: 40px;
}

.numberStyle {
    background-image: url("../Assets/Login/phone.png");
    background-position: 10px center; // Adjust the positioning as needed
    background-repeat: no-repeat;
    padding-left: 40px;
}

.emailStyle {
    background-image: url("../Assets/Login/email.png");
    background-position: 10px center; // Adjust the positioning as needed
    background-repeat: no-repeat;
    padding-left: 40px;
}

.passwordStyle {
    background-image: url("../Assets/Login/lock.png");
    background-position: 10px center; // Adjust the positioning as needed
    background-repeat: no-repeat;
    padding-left: 40px;
}